/* Сброс отступов и базовые стили */
body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
 background-color: #f5f7fa;
 color: #333;
}

header {
 background-color: #42026d;
 color: rgba(204, 207, 35, 0.952);
 padding: 20px 40px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 
}

header h1 {
 margin: 0 0 10px 0;
 font-weight: 700;
}

nav ul {
 list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
 gap: 25px;
}

nav ul li a {
 color: white;
 text-decoration: none;
 font-weight: 600;
 padding: 8px 12px;
 border-radius: 4px;
 transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
 background-color: #42026d;
 color: #fff;
}

main {
 max-width: 900px;
 margin: 40px auto;
 padding: 0 20px;
}

main h2 {
 color: #42026d;
 font-weight: 700;
 margin-bottom: 15px;
 text-align: center;
}
main h3 {
 color: #42026d;
 font-weight: 700;
 margin-bottom: 15px;
 text-align: center;
}

main p {
 font-size: 18px;
 line-height: 1.6;
 text-align: center;
}
.container {
 max-width: 300px;
 margin: 0 auto;
 text-align: center;
}
input[type="number"] {
 width: 100%;
 padding: 8px;
 font-size: 16px;
 margin-bottom: 10px;
}
button {
 padding: 10px 20px;
 font-size: 16px;
 cursor: pointer;
}
#result {
 margin-top: 15px;
 font-weight: bold;
 font-size: 18px;
 color: #333;
}
